@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up 120s linear infinite;
  will-change: transform;
}

.animate-scroll-down {
  animation: scroll-down 120s linear infinite;
  will-change: transform;
}
